<div class="panel">
    <div class="panel-guild">
        <div class="panel-guild-icon" style="background-image: url(https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}?size=128)"></div>
        <h2 class="panel-guild-name">{{ guild.name }}</h2>
    </div>
    <div class="panel-nav">
        <a href="/" class="panel-nav-item">
            <i class="fa-regular fa-user"></i>
            <span class="panel-nav-name">On verra</span>
        </a>
    </div>
</div>