<div class="savebar close">
    <div class="bar-content">
        <div class="message mobile">Sauvegarder ?</div>
        <div class="message desktop">Attention, vous avez des modifications non enregistrées !</div>
        <div class="buttons">
            <div class="button transparent" style="color: white;"><span>Reinitialiser</span></div>
            <div class="send-button button full valid">
            Enregistrer
                <div class="loader_discord" style="font-size: 16px; display: none;">
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                </div>
            </div>
        </div>
    </div>
</div>