<div class="dash-content">
    <div class="welcome-message child">
        <h3 class="dash-content-header">
            Bienvenue sur votre espace de configuration !
        </h3>
        <p>
            Cet espace a été conçu dans le but de vous aider à la configuration et l'utilisation de Fenrir.
        </p>
        <p>
            Vous pouvez modifier les paramètres de Fenrir en lien avec votre serveur ou de votre profil en cliquant sur les icônes dans la barre latérale.
        </p>
        <p>
            Ce panel est encore en développement, si vous rencontrez un problème, n'hésitez pas à nous contacter sur le serveur support.
        </p>
    </div>
</div>