<div class="dash-content">
	{% include 'includes/error.twig' %}
	<form action="/servers/{{ savedGuild.id }}/jail" class="child" method="post">
		<div class="dash-container">
			<div class="dash-header">
				<h1 class="dash-title">Prison</h1>
			</div>
			<div class="dash-module">
				<div class="dash-top">
					<div class="dash-infos">
						<h3>

						</h3>
						<p>

						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>